absl-py==1.0.0
aiohttp==3.8.1
aiosignal==1.2.0
appdirs==1.4.4
argcomplete==1.12.3
async-timeout==4.0.2
asynctest==0.13.0
attrs==21.4.0
audioread==2.1.9
autopep8==1.6.0
backcall==0.2.0
backports.functools-lru-cache==1.6.4
cachetools==4.2.4
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.9
click==8.0.3
cycler==0.11.0
debugpy==1.5.1
decorator==4.4.2
entrypoints==0.3
fonttools==4.28.2
frozenlist==1.3.0
fsspec==2022.1.0
future==0.18.2
google-auth==2.3.3
google-auth-oauthlib==0.4.6
grpcio==1.42.0
idna==3.3
importlib-metadata==4.8.2
install==1.3.5
ipykernel==6.6.0
ipython==7.30.1
jedi==0.18.1
joblib==0.14.1
jupyter-client==7.1.0
jupyter-core==4.9.1
kiwisolver==1.3.2
librosa==0.7.2
llvmlite==0.32.1
Markdown==3.3.6
matplotlib==3.5.0
matplotlib-inline==0.1.3
multidict==5.2.0
nest-asyncio==1.5.4
nltk==3.6.5
numba==0.47.0
numpy==1.21.5
oauthlib==3.1.1
packaging==21.3
pandas==1.1.5
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.4.0
pooch==1.5.2
prompt-toolkit==3.0.24
protobuf==3.19.1
ptyprocess==0.7.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.8.0
pycparser==2.21
pyDeprecate==0.3.1
Pygments==2.10.0
pyparsing==3.0.6
python-dateutil==2.8.2
pytorch-lightning==1.5.9
pytz==2021.3
PyYAML==6.0
pyzmq==22.3.0
regex==2021.11.10
requests==2.26.0
requests-oauthlib==1.3.0
resampy==0.2.2
rsa==4.8
scikit-learn==0.20.4
scipy==1.2.3
setuptools-scm==6.3.2
six==1.16.0
SoundFile==0.10.3.post1
subprocess32==3.5.4
tensorboard==2.7.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
threadpoolctl==3.0.0
toml==0.10.2
tomli==1.2.2
torch==1.10.0
torch-tb-profiler==0.3.1
torchaudio==0.10.0
torchmetrics==0.7.0
torchtext==0.11.0
torchvision==0.11.1
tornado==6.1
tqdm==4.62.3
traitlets==5.1.1
typing_extensions==4.0.1
urllib3==1.26.7
wcwidth==0.2.5
Werkzeug==2.0.2
yarl==1.7.2
zipp==3.6.0
